body {
    background-color: azure;
    margin: 25px;
}
.high-scores {
    color: blueviolet;
    text-align: left;
    font-size: medium;
}
#timer {
    color: blueviolet;
    text-align: right;
    font-size: medium;
}

.page-wrapper {
    background-color: whitesmoke;
    margin: 20px;
    text-align: center;
}